table {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 30px;
}

.inside {
    border: 0px solid rgba(0, 0, 0, 0.2);
    width: 700px;
    text-align: left;
}

h3 {
    text-align: left;
    color: #1249e0;
}